{% extends "base.html" %}
{% block title %} 工具 - EasyTesting {% endblock %}
{% block header %}工具{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>日期计算器</span>

            </div>
            <div class="card-body">

            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>日期计算器</span>

            </div>
            <div class="card-body">

            </div>
        </div>
    </div>


</div>

{% endblock %}